<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LocationAnalyticsWebApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetLoginDetails</display-name>
    <servlet-name>GetLoginDetails</servlet-name>
    <servlet-class>servlets.GetLoginDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLoginDetails</servlet-name>
    <url-pattern>/GetLoginDetails</url-pattern>
  </servlet-mapping>
  <servlet>
      
    <description></description>
    <display-name>GetRegistrationDetails</display-name>
    <servlet-name>GetRegistrationDetails</servlet-name>
    <servlet-class>servlets.GetRegistrationDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRegistrationDetails</servlet-name>
    <url-pattern>/GetRegistrationDetails</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>GetHello1</servlet-name>
    <servlet-class>servlets.PromotionHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetHello1</servlet-name>
    <url-pattern>/LoginForm</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AddEvent</servlet-name>
    <servlet-class>servlets.AddEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEvent</servlet-name>
    <url-pattern>/AddEvent</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>DeletePromotion</servlet-name>
    <servlet-class>servlets.DeletePromotion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePromotion</servlet-name>
    <url-pattern>/DeletePromotion</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GenerateChart</servlet-name>
    <servlet-class>servlets.GenerateChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateChart</servlet-name>
    <url-pattern>/GenerateChart</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>ForgotPasswordQuestion</display-name>
    <servlet-name>ForgotPasswordQuestion</servlet-name>
    <servlet-class>servlets.ForgotPasswordQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordQuestion</servlet-name>
    <url-pattern>/ForgotPasswordQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordQuestionValidation</display-name>
    <servlet-name>ForgotPasswordQuestionValidation</servlet-name>
    <servlet-class>servlets.ForgotPasswordQuestionValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordQuestionValidation</servlet-name>
    <url-pattern>/ForgotPasswordQuestionValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetNewPassword</display-name>
    <servlet-name>SetNewPassword</servlet-name>
    <servlet-class>servlets.SetNewPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetNewPassword</servlet-name>
    <url-pattern>/SetNewPassword</url-pattern>
  </servlet-mapping>
</web-app>